# Feel free to use this file to list the strict minimum requirements to copy inside your docker container in production
# You may want to remove dev requirements such as pytest, ipykernel, matplotlib etc...

colorama
numpy
pandas
nbresult
pygeohash
seaborn
scikit-learn
yapf

# prevent bq 3+ db-dtypes package error when running training from bq
google-cloud-bigquery<3.0.0
google-cloud-storage
pyarrow

mlflow~=1.26.1

python-dotenv
prefect<2
prefect[viz]
psycopg2-binary

# API
fastapi
pytz
uvicorn
# tests
# httpx
# pytest-asyncio
